/* memberreg.css */

.member-reg-container {
    width: 37%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);
  }
  
  .member-reg-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .member-reg-container form {
    display: flex;
    flex-direction: column;
  }
  
  .member-reg-container form div {
    margin-bottom: 10px;
  }
  
  .member-reg-container label {
    font-weight: bold;
  }
  
  .member-reg-container input[type="text"],
  .member-reg-container input[type="email"],
  .member-reg-container input[type="password"],
  .member-reg-container input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .member-reg-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #6a11cb 0%, #fc25bb 100%);
    color: #fff;
    cursor: pointer;
  }
  
  .member-reg-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  