.container-cart{
  background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);
  padding: 10px;
  border-radius: 8px;
  margin: 3rem auto; /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}
.quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
  }
  
  .quantity button {
    background-color: #e1f1e4;
    border: 1px;;
    color: rgb(20, 2, 2);
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
  }
  
  .quantity button:focus {
    outline: none;
  }
  
  .quantity span {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .quantity .rem-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity .remove-button:focus {
    outline: none;
  }
  .rem-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    
  }
  @media (max-width: 768px) {
    .table {
      font-size: 14px;
    }
  
    .quantity button {
      padding: 5px;
    }
  
    .rem-button {
      padding: 5px;
    }
  
    
  }
  
  .checkout-button {
    display: block;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #5d1e70; /* Bootstrap info color */
  }

@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  .quantity button {
    padding: 5px;
  }

  .rem-button {
    padding: 5px;
  }

  .checkout-button {
    width: 100%;
    max-width: none;
    font-size: 18px;
    padding: 15px;
  }

  .btn {
    width: 100%;
  }
}