.container {
    padding: 20px;
  }
  
  .order-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  thead.thead-dark th {
    background-color: #711aa0;
    color: white;
  }
  
  .table {
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  