.profile-container {
  background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 3rem auto; /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
  
  
  .header {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .info-text {
    font-size: 16px;
    color: #2a023c;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #333;
  }
  