.me-link{
    color: #fff; /* Set text color */
    padding-left: 100px;
  }
  .me-CONTAINER{
    color: #fff; /* Set text color */
    background: #48286bd4;
   

  }
 .nav-con{
  background: #48286bd4;
  color: #fff; /* Set text color */


 }