.checkout {
  background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 3rem auto; /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .checkout h1, .checkout h2 {
    text-align: center;
    color: #000;
  }
  
  .order-summary ul {
    list-style-type: none;
    padding: 0;
    color: #310059;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .order-summary li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .shipping-info, .payment-info {
    margin: 20px 0;
  }
  
  .shipping-info input, .payment-info input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5d1e70; /* Bootstrap info color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .order-confirmation {
    text-align: center;
    margin-top: 20px;
  }
  