/* General styling for the footer */
.footer {
    width: 100%;
    background: linear-gradient(45deg, #605d5d 0%, #93046f 100%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
}

.footer h2 {
    margin: 0;
    font-size: 27px;
    font-weight: bold;
    color: #070436;
    text-align: left;

}

.footer-col {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    color: #02010f;
    text-align: right;
    margin-right: 20px;

}

.footer-col ul {
    list-style: none;
    padding: 0;
    text-align: right;

}

.footer-col li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #02010f;
    text-align: right;

}

.footer-col li img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/* Ensure footer doesn't overlap content */
body {
    margin: 0;
    padding-bottom: 600px; /* Adjust this value based on footer height */
}
