body{
    background: linear-gradient(45deg, #dbc1db 0%, #d3d2dd 100%);


}
.Homee {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.Container-login {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);


}

.Header .text h1 {
    font-size: 2.5em;
    color: #560642;
    margin-bottom: 0.5em;
    padding-top: 20px;
}

.underline {
    width: 50px;
    height: 5px;
    background-color: #380333;
    margin: 0 auto;
margin-bottom: 10px;
}

.inputs .input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputs .input img {
    width: 25px;
    margin-right: 10px;
}

.inputs .input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.inputs .input input:focus {
    border-color: #ed2308;
    outline: none;
}
.forgot{
    color: #000;
}
.eye-icon {
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
}

.submit-container {
    margin-top: 20px;
}

.submit-container .submit {
    width: 100%;
}

.submit-container .submit button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #6a11cb 0%, #fc25bb 100%);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-container .submit button:hover {
    background-color: #feb47b;
}

.small a {
    color: #660202;
    text-decoration: none;
    transition: color 0.3s;
}

.small a:hover {
    color: #160a01;
}

