/* EditBook.css */
.edit-book-container {
    background: linear-gradient(45deg, #c487c4 0%, #b5afe3 100%);
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 3rem auto; /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.up-button{
    background-color: #6c43ad; /* Bootstrap info color */


}



